@model proje.Models.Siniflar.TurYorum
@{
    ViewBag.Title = "TurDetay";
    Layout = "~/Views/Shared/_Testlayout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
    <head>
        <title>Personal Blog a Blogging Category Flat Bootstarp  Responsive Website Template | Single :: w3layouts</title>
        <link href="~/web2/css/bootstrap.css" rel='stylesheet' type='text/css' />
        <link href="~/web2/css/style.css" rel='stylesheet' type='text/css' />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!----webfonts---->
        <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
        <!----//webfonts---->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
    </head>
   
</head>
<body>
    <!---header---->
    <div class="header">

    </div>
    <!--/header-->
    <div class="single">
        <div class="container">
            <div class="col-md-8 single-main">
                <div class="single-grid">
                    @foreach (var x in Model.Deger1)
                    {
                        <img src="@x.Resim" alt="" style="margin-bottom:20px" />
                        <h2>@x.Baslik <span style="border: 1px solid #000; padding: 5px; float: right;">Kontenjan: @x.Kontenjan</span></h2>
                        <p>
                            @x.Aciklama
                        </p>

                    }
                </div>
                @foreach (var y in Model.Deger2)
                {
                    <ul class="comment-list">
                        <li>
                            <img src="images/avatar.png" class="img-responsive" alt="">
                            <div class="desc">
                                <p>@y.Rumuz:@y.yorum </p>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>

                }
                
                <button id="siparisVerButton" class="btn btn-primary">Sipariş Ver</button>

                
                
                <div id="siparisVerModal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Sipariş Ver</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="siparisForm">
                                    <div class="form-group">
                                        <label for="isim">İsim</label>
                                        <input type="text" class="form-control" id="isim" name="isim" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email" name="email" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="telefon">Telefon</label>
                                        <input type="text" class="form-control" id="telefon" name="telefon" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="kisi">Kişi Sayısı</label>
                                        <input type="number" class="form-control" id="kisi" name="kisi" required>
                                    </div>
                                    @foreach (var x in Model.Deger1)
                                    {
                                        <input type="hidden" id="turId" name="turId" value="@x.Id">
                                    }
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                <button type="button" class="btn btn-primary" id="siparisSubmitButton">Sipariş Ver</button>
                            </div>
                        </div>
                    </div>
                </div>


                @Html.Action("YorumYap", "Turlar")
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

    <script>
    $(document).ready(function() {
        $('#siparisVerButton').click(function() {
            $('#siparisVerModal').modal('show');
        });

        $('#siparisSubmitButton').click(function() {
            var formData = {
                isim: $('#isim').val(),
                email: $('#email').val(),
                telefon: $('#telefon').val(),
                kisi: $('#kisi').val(),
                turId: $('#turId').val()
            };

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SiparisVer", "Turlar")',
                data: formData,
                success: function(response) {
                    if (response.success) {
                        alert('Sipariş başarıyla verildi!');
                        $('#siparisVerModal').modal('hide');
                    } else {
                        alert('Sipariş verirken bir hata oluştu: ' + response.message);
                    }
                },
                error: function(xhr, status, error) {
                    alert('Sipariş verirken bir hata oluştu: ' + error);
                }
            });
        });
    });
    </script>


</body>
</html>

